Package: xyz.potatso.surgepatch
Name: Surge-Patch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Surge iOS cracked. Enjoy it~
Maintainer: Potatso
Author: Potatso
Section: Tweaks
